<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>

	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-ex1-collapse">
				<span class="sr-only">Desplegar navegación</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="pull-left" rel="home" href="/" title="Poxmanía"> <img
				th:src="@{~/img/logo.png}" />
			</a>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">Pequeños electrodómesticos</a></li>
				<li><a href="#">Televisores</a></li>
				<li><a href="#">Videoconsolas</a></li>
				<li><a href="#">Otras cosas</a></li>
			</ul>

			<form class="navbar-form navbar-left" role="search">
				<div class="input-group">
					<input type="text" class="form-control"
						placeholder="¿Qué estás buscando?" /> <span
						class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							Buscar
						</button>
					</span>
				</div>
			</form>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Administración</a></li>
			</ul>
		</div>
	</nav>

	<div class="col-md-12">
		<h1>Mi cesta</h1>
		<div class="panel panel-default">
			<div class="panel-body">
				<div id="cesta">
					<div class="panel panel-default"
						th:each="product, it : ${products}">
						<div class="panel-heading" th:text="${product.name}">Producto</div>
						<div class="panel-body">
							<div class="col-md-4">
								<img class="img-responsive"
									th:src="@{~/img/} + ${product.image}" />
							</div>

							<div class="col-md-5">
								<div class="row">
									<p>
										<b>Descripción:</b>
									</p>
									<p th:text="${product.description}"></p>
								</div>
							</div>

							<div class="col-md-3">
								<div class="row">
									<h1 th:text="${product.price} + €">98 €</h1>
								</div>
								<div class="row">
									<input type="number" name="cuantity" value="1" min="1"
										max="100" width="5" />
								</div>
								<div class="row">
									<button class="btn btn-default">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									</button>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<p>Total:</p>
						</div>
						<div class="panel-body">
							<p>Total</p>
						</div>
					</div>

					<div>
						<button th:action="@{/order}" class="btn btn-default pull-right">
							<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
							Hacer pedido
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>



</body>

</html>