<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<head>
<title>Módulo de administración</title>
<link rel="icon" th:href="@{~/img/favicon.ico}" />
<link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{~/css/custom.css}" />
<script th:src="@{~/js/jquery.min.js}"></script>
<script th:src="@{~/js/bootstrap.min.js}"></script>
</head>

<body>

	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-ex1-collapse">
				<span class="sr-only">Desplegar navegación</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="pull-left" rel="home" href="/" title="Poxmanía"> <img
				th:src="@{~/img/logo.png}" />
			</a>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a th:href="@{/category/electrodomesticos}">Pequeños
						electrodómesticos</a></li>
				<li><a th:href="@{/category/televisores}">Televisores</a></li>
				<li><a th:href="@{/category/videoconsolas}">Videoconsolas</a></li>
				<li><a th:href="@{/category/informatica}">Informática</a></li>
			</ul>

			<form th:action="@{/search}" class="navbar-form navbar-left"
				role="search">
				<div class="input-group">
					<input name="name" type="text" class="form-control"
						placeholder="¿Qué estás buscando?" /> <span
						class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							Buscar
						</button>
					</span>
				</div>
			</form>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Administración</a></li>
			</ul>
		</div>
	</nav>

	<div class="col-md-12">
		<div class="row">
			<a th:href="@{/admin/search/pendiente}"><button
					class="btn btn-default">
					Buscar productos pendientes <span
						class="glyphicon glyphicon-shopping-plus" aria-hidden="true"></span>
				</button></a>
		</div>
		<div class="row">
			<a th:href="@{/admin/search/preparado}">
				<button class="btn btn-default">
					Buscar productos preparados <span
						class="glyphicon glyphicon-shopping-plus" aria-hidden="true"></span>
				</button>
			</a>
		</div>
		<div id="error" th:if="${error != null}">
			<div class="alert alert-warning" role="alert" th:text="${error}"></div>
		</div>
	</div>

	<div class="btn-group col-md-12">
		<div id="pedidos">

			<div class="panel panel-default" th:each="order : ${orders}">
				<div class="panel-heading clearfix">
					<h4 class="panel-title pull-left" th:text="${order.id}">Pedido</h4>
				</div>

				<div class="panel-body">

					<div class="panel panel-default"
						th:each="product : ${order.cart.products}">
						<div class="panel-body">
							<div class="col-md-3">
								<img class="img-responsive" th:src="@{/image/} + ${product.product.image}" />
							</div>
							<div class="col-md-3">
								<p th:text="${product.product.name}"></p>
							</div>
							<div class="col-md-3">
								<p th:text="${product.cuantity}"></p>
							</div>
							<div class="col-md-3">
								<p th:text="${product.product.price}+ ' €'"></p>
							</div>

						</div>
					</div>
					<div class="panel panel-default">
					<form th:action="@{/update}">
						<input type="hidden" th:value="${order.id}"
										name="order_id" />
							<div class="col-md-2">
								<p th:text="${order.name}"></p>
							</div>
							<div class="col-md-2">
								<p th:text="${order.surname}"></p>
							</div>
							<div class="col-md-2">
								<p th:text="${order.date}"></p>
							</div>
							<div class="col-md-2">
									<label>Estado:</label> <select
										th:value="${order.state}" name="state">
										<option name="Pendiente" value="Pendiente">Pendiente</option>
										<option name="Preparado" value="Preparado">Preparado</option>
									</select>
							</div>
							<div class="col-md-2">
								<p th:text="${order.cart.total}+ ' €'"></p>
							</div>
							<div class="col-md-2">
									<button class="btn btn-default">
										Actualizar <span class="glyphicon glyphicon-shopping-plus"
										aria-hidden="true"></span>
									</button>
							</div>
					</form>
					</div>

				</div>
			</div>

		</div>
	</div>


</body>

</html>