<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<head>
<title>Añadir producto</title>
<link rel="icon" href="/img/favicon.ico"/>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{~/css/custom.css}" />
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</head>

<body>

	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-ex1-collapse">
				<span class="sr-only">Desplegar navegación</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="pull-left" rel="home" href="/" title="Poxmanía"> <img
				th:src="@{~/img/logo.png}" />
			</a>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">Pequeños electrodómesticos</a></li>
				<li><a href="#">Televisores</a></li>
				<li><a href="#">Videoconsolas</a></li>
				<li><a href="#">Otras cosas</a></li>
			</ul>

			<form class="navbar-form navbar-left" role="search">
				<div class="input-group">
					<input type="text" class="form-control"
						placeholder="¿Qué estás buscando?" /> <span
						class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							Buscar
						</button>
					</span>
				</div>
			</form>

			<ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{/logout}">Cerrar sesión</a></li>
			</ul>
		</div>
	</nav>

	<div class="col-md-12" id="form">
		<h1>Nuevo producto</h1>
		<div class="panel panel-default">
			<div class="panel-body">
				<form action="/add" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<label>Nombre del producto</label> <input type="text" name="name"
							class="form-control" placeholder="Nombre del producto" />
					</div>
					<div class="form-group">
						<label>Categoría</label> <select name="category"
							class="form-control">
							<option name="Pequeños-electrodomésticos" value="Pequeños electrodomésticos">Pequeños
								electrodomésticos</option>
							<option name="Televisores" value="Televisores">Televisores</option>
							<option name="Informática" value="Informática">Informática</option>
							<option name="Videoconsolas" value="Videoconsolas">Videoconsolas</option>
						</select>
					</div>
					<div class="form-group">
						<label>Precio</label>
						<div class="input-group">
							<input type="number" name="price" min="0" step="any"
								class="form-control" placeholder="Precio" /> <span
								class="input-group-addon">€</span>
						</div>
					</div>
					<div class="form-group">
						<label>Imagen</label> <input type="file" name="image"
							placeholder="Seleccionar imagen" />
					</div>
					<div class="form-group">
						<label>Descripción</label>
						<textarea name="description" class="form-control" rows="10"></textarea>
					</div>
					<button type="submit" class="btn btn-default pull-right">
						Añadir producto <span class="glyphicon glyphicon glyphicon-plus"
							aria-hidden="true"></span>
					</button>
				</form>
			</div>
		</div>


	</div>


</body>

</html>
